/* * {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif
} */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,200&family=Space+Grotesk&display=swap');

*{
  margin: 0;
}

body{
  background: black; 
  padding: 0;
  margin: 20px;

}

nav{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  flex-wrap: wrap;
  }

  nav ul li{
    display: inline-block;
    list-style: none;
    margin:30px 30px;
  }

li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
}

a:hover {
  color: #799a97;
}

.logo{
  width: 160px;
}

h1 {
  font-family: 'Source Code Pro', monospace;
  margin-top: 70px; 
  padding-left: 60px;
  font-size: 42px;
  font-weight: bold;
}

p{
  font-family: 'Space Grotesk', sans-serif;
}


.about-me {
  display:flex; 
  align-items: start;
  flex-direction: column;
  background-color: rgb(225, 214, 214);
  /* margin-top:40px; */
  padding: 0;
  padding-bottom: 20px;
}

.about {
  width: 40%;
  justify-content: flex-end;
  padding-left: 60px;
  margin: 20px;
  padding: 20px;
}


.contact {
  background-color: rgb(1, 15, 6)}

.projects {
  background-color: rgb(5, 0, 1);
  display: flex;
  flex-wrap: wrap;
}

.project1{
    width: 100%;
    height: 500px;
    background-image: url("../images/02-portfolio-1.jpg");
    
}

a {
  display: block;
  background-size: cover;
}

.project2-5 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 5px;
}

.project2-5 a{
  width: calc(50% - 10px);
  height: 350px;
  margin: 5px;
}

.project2-5 a:nth-child(1) {
  background-image: url('../images/02-portfolio-2.jpg'); 
}

.project2-5 a:nth-child(2) {
  background-image: url('../images/02-portfolio-3.jpg'); 
}

.project2-5 a:nth-child(3) {
  background-image: url('../images/02-portfolio-4.jpg'); 
}

.project2-5 a:nth-child(4) {

  background-image: url("../images/02-run-buddy.jpg"); 
}
