* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif
}


body{
  background: #8c7777;
}

/* 
ul{
  display: flex;
  justify-content: space-around
  
}

li{
  justify-content: end;
} */

header {
  display: flex;
  /* justify-content: flex-end; */
  /* align-items: center; */
  padding: 15px 30px;
  justify-content: center

  /* box-shadow: 0 1px 10px #8e3939; */
}


header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header a {
  text-decoration: none;
  color: hsl(120, 100%, 100%);
  transition: all 0.3s ease 0s;
}

header a:hover {
  color: #b2dfdb;
}